@import "tailwindcss";

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-Medium.ttf");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-Light.ttf");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-ExtraLight.ttf");
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-Thin.ttf");
  font-display: swap;
  font-weight: 100;
}

* {
  font-family: Outfit, sans-serif;
}
html {
  scrollbar-gutter: stable;
}

.input {
  @apply px-4 py-3.5 rounded-full border outline-none focus-visible:border-[#d5d5d5] transition border-[#5e5e5e] text-[#d5d5d5];
}
body {
  @apply bg-black text-[#5E5E5E];
}
.highlight {
  @apply text-[#d5d5d5];
}

.skillLabels p {
  @apply px-6 py-2 border rounded-full w-max text-[#E1E1E1];
}
.btn {
  @apply transition outline-2 outline-[#780606] hover:bg-black hover:text-[#780606] focus-visible:bg-black focus-visible:text-[#780606] text-[15px] px-5 py-3.5 cursor-pointer inline-flex items-center gap-3 bg-[#780606] text-[#d5d5d5] rounded-full;
}

@keyframes fillText {
  to {
    width: 100%;
  }
}
